/* Estilos generales para la tabla */
table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

/* Estilo para las cabeceras */
th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* Estilo para las celdas de la tabla */
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Efecto hover para las filas de la tabla */
tr:hover {
    background-color: #f2f2f2;
}

/* Opcional: Ajustar el tamaño de las celdas */
th, td {
    width: 25%; /* Puedes ajustar el tamaño de las celdas */
}
